---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container mb-10">
    <div class="row justify-content-center">
      <div class="col-12 col-md-7 col-lg-12 order-1 order-md-2">
        {{ content }}
      </div>
      <div class="col-12 col-md-5 col-lg-12 order-2 order-md-2 mt-10">
        <!-- Début de widget en ligne Calendly -->
<div class="calendly-inline-widget" data-url="https://calendly.com/maxime-moricarus/strategic-call-moricarus?text_color=5e5e6e&primary_color=d33b2e" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Fin de widget en ligne Calendly -->
      </div>
    </div>
  </div>
</div>
