---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-12 order-2 order-md-1">
        {{ content }}
      <h2><a target="_blank" href="https://uqvfxdyz5se.typeform.com/to/w54iyjQi"> > Take me to the form <</a></h2>
      <div class="call-box-bottom">
        <a href="/onboarding-end" class="button">STRATEGIC MEETING 4/4</a>
    
      </div>
      </div>
    </div>
  </div>
  